* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Terminus;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

window#waybar {
	border-top: 1px solid rgba(255,255,255,0.7);
  background: linear-gradient(
  	90deg,
	rgba(0,0,0,0.45) 0%,
	rgba(0,0,0,0.15) 15%,
	rgba(0,0,0,0.00) 20%,
	rgba(0,0,0,0.00) 80%,
	rgba(0,0,0,0.15) 87%,
	rgba(0,0,0,0.45) 100%
  );
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 20px;
  margin: 6px 2px;
  border-radius: 0px;
  background-color: rgba(255,255,255,0.2);
}

#workspaces button.active {
  background-color: rgba(255,255,255,0.3);
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: #bbb;
}

#workspaces button.urgent {
  /* #f38ba8 */
  background-color: #ffa0a0;
}

#memory,
#language,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 0px;
  margin: 6px 3px;
  padding: 6px 5px;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 3px;
  padding-left: 3px;
  font-size: 30px;
  margin-right: 7px;
}

#language {
}

#memory {
}

#battery {
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #00ff00;
  color: #181825;
}

#wireplumber {
  padding-right: 5px;
}

#network {
  padding-right: 5px;
}

#clock {
  padding:10px 17px;
}

#custom-power {
  background-color: #bbb;
  padding-right: 17px;
}

#hyprland-keyboard-layout {
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #bbb;
}

tooltip label {
  padding: 5px;
  background-color: #bbb;
}
